canvas {
	display: none;
  }

  html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }

  video {
	position: relative;
	z-index: 2;
  }

  img {
	position: absolute;
	top: var(--y);
	left: var(--x);
	rotate: var(--rotate);
	transform: translate(-100%, -100%);
	width: 200px;
	border: 10px solid white;
	border-bottom-width: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  img[src="data:,"] {
	display: none;
  }